.menu-topo{
  position: fixed;
  top: 0;
  background-color: #535D66 ;
  height: 70px;
  width: 100%;

  display: flex;
  align-items: center;
  padding-left: 25px;
  z-index: 100000;
}
.div-logo{
  font-size: 35px;
  color: #f0f0f0;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.377);
}
.div-logo span{
  font-weight: 500;
}
.div-lateral{
  position: fixed;
  top: 0;
  background-color: #535D66 ;
  height: 100%;
  width: 70px;
  padding-top: 70px;

  display: flex;
  flex-direction: column;
  transition: 1s;
  overflow: hidden;
  z-index: 1000;
}
.div-lateral:hover{
  width: 200px;
}
.div-ferramentas{
  
  height: 50px;
  width: 200px;

  font-size: 25px;
  display: flex;
  align-items: center;
  /* padding-left: 15px; */
  /* border-bottom: solid 1px rgba(0, 0, 0, 0.171); */
  margin-bottom: 2px;
  color: #f0f0f0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.377);
}
.div-ferramentas:hover{
  background-color: #183753;
}
.div-ferramentas h3{
  font-size: 20px;
}
/*------------------------------------- icones----------------------------- */
.BiTransferAlt{
  font-size: 35px;
  margin: 0 20px;

}
.BsArrowClockwise{
  font-size: 35px;
  margin: 0 20px;

}
.BsFillTelephoneFill{
  font-size: 28px;
  margin: 0 24px;

}

